<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<body>
    <header class="topbar">
        <div class="logo-area">
            <img src="/frontend/assets/logo-infrastok-cor.png" alt="InfraStok">
            <h1><span style="color: rgb(255, 255, 255);">INFRA</span><span>STOK</span></h1>
        </div>

        <div class="user-area">
            <i class="far fa-user-circle"></i>
            <span>Olá, Usuário</span>
            <i class="fas fa-chevron-down"></i>
        </div>

    </header>
</body>